/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

$informoGreen: #417D44;


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #333;
$headingColor: $informoGreen;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$linkColor: darken($informoGreen, 10%);
$linkColorHover: $informoGreen;
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


.reveal {
	strong {
		color: darken($informoGreen, 10%);
	}
	img.plain {
		background: none;
	}
	blockquote {
		background-color: transparentize(lighten($informoGreen, 30%), 0.8);
	}
	:not(pre) > code {
		font-size: 0.8em;
		padding: 0.1em 0.3em;
		background-color: transparentize(lighten($informoGreen, 30%), 0.8);
		border-radius: 5px;
		border: 1px #ccc solid;
	}

	aside.controls > button {
		font-size: 7px;
	}
	.slide-number {
		top: 8px;
		right: 8px;
		bottom: auto;
	}
	> footer {
		position: absolute;
		width: 100%;
		bottom: 10px;
		z-index: 100;

		padding-left: 1rem;

		text-align: left;
		font-size: 4vh;
	}

	&.has-dark-background {
		strong {
			color: #fff;
		}
		a {
			color: #fff;
			&:hover {
				color: lighten($linkColorHover, 50%);
			}
		}
		> footer {
			color: #fff;
		}
	}
}
